{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2 class="my-4">5-Day Forecast</h2>

    <form method="POST" class="mb-4">
        {{ form.hidden_tag() }}
        <div class="input-group">
            {{ form.city(class="form-control", placeholder="Enter city name") }}
            <div class="input-group-append">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </div>
    </form>

    {% if forecast %}
    <div class="row">
        {% for day in forecast %}
        <div class="col-md-2 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ day.date }}</h5>
                    <i class="wi {{ day.icon }} display-4 my-3"></i>
                    <h4>{{ day.avg_temp }}°C</h4>
                    <p class="text-capitalize">{{ day.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}